.pages {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    color: var(--col-cold-grey);
    background-color: var(--col-cold-grey);
    padding-top: 45px;
}

.pages a {
    font-size: 12px;
    padding: 8px 25px 20px;
    /* border: 1px solid var(--col-cold-grey); */
    border-radius: 20px;
    margin-bottom: -20px;
    position: relative;
    background-color: var(--col-bg-grey);
}

.active {
    /* color: var(--col-hover);
    text-decoration: none; */

}

.nonactive {
    /* text-decoration: underline; */
    opacity: 0.5;
    color: var(--col-cold-grey);
    z-index: 0;
}

.fio {
    color: var(--col-hover);
    font-weight: normal;
}

.works {
    font-weight: 400;
    font-size: 12px;
}

h1 {
    hyphens: manual;
    color: var(--col-cold-grey);
}

.role {
    font-weight: 500;
    color: var(--col-cold-grey);
}

img {
    width: 120px;
}

.port {
    width: 100%;
    max-width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 5px var(--col-sh-grey);
}

.left {
    min-width: 300px;
    flex-basis: 50%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    background-color: var(--col-warm-grey);

    padding: 30px;
    color: #333232;
}

.buts {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    width: 100%;
}


.but-neo {
    background: #EEEEEE;
    box-shadow: 4px 4px 8px #BEBEBE, -6px -6px 8px #ECFAFF;
    border-radius: 8px;
    width: 35%;
    color: var(--col-cold-grey);
    font-size: 10px;
    padding: 12px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.but-neo:hover {
    background: linear-gradient(143.76deg, #DADADA 16.92%, #EEEEEE 90.69%);
}

.but-neo i {
    font-size: 32px;
}

.but-arr {
    width: auto;
    padding: 12px 5px;
}

.but-arr:hover i {
    color: var(--col-hover);
}

.right {
    min-width: 300px;
    flex-basis: 50%;
    flex-grow: 1;

    background: var(--col-cold-grey);
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white
}

.item.no-small {
    padding: 10px 30px;
    justify-content: space-between;
}

.item .mes {
    font-size: 10px;
    min-width: 80px;
    max-width: 80px;
    /* border-right: 1px solid var(--col-warm-grey); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-right: 10px;
    flex-grow: 0;
}

.item,
.messengers {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    /* border-top: 1px solid white;
    border-bottom: 1px solid black; */
    padding: 0 30px;
}

.items {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px 0;
}

.items p {
    margin: 0;
}

.items i {
    font-size: 32px;
    ;
}

.item-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    width: calc(100% / 12 * 3 - 20px);
}

.item-vert p {
    margin-bottom: 0;
}

.items-vert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.items-vert a {
    padding: 5px;
}

.save-mob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: var(--col-hover);
    color: white;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
}

.save-mob p {
    margin: 0;
}

.save-mob:hover {
    color: var(--col-d-grey);
}

.far,
.fas {
    font-size: 16px;
}

.space {
    padding-bottom: 15px;
}

@media screen and (max-width: 700px) {
    h1 {

        font-size: 22px;
    }

    .no-small {
        display: none;
    }

    .item-vert {
        width: calc(100% / 12 * 6 - 20px);
    }
}