:root {
    --col-d-grey: #636363;
    --col-l-grey: #ededed;
    --col-bg-grey: #fffefe;
    --col-sh-grey: #8d8d8d;
    --col-hover: #F88430;
    --col-warm-grey: #F5F1ED;
    --col-cold-grey: #7E8598;

    --gap: 10px;
}